body {
  background-color: #f0efed;
  height: 500px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.morebutton {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #a18474;
  color: white;
  width: 122px;
  height: 40px;
  margin-top: 1px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500px;
  font-style: normal;
  line-height: 19px;
  margin-bottom: 48px;
}

.button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.hot__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hot__container {
  display: flex;
  flex-direction: column;
}

.hot__title {
  margin-top: 48px;
  margin-bottom: 21px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.type__list,
.hot__list {
  display: flex;
  justify-content: flex-start;
  margin: 0 -12px 24px;
}

.hot__item {
  width: 235px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 12px;
}

.hot__item-img {
  width: 100%;
  height: 200px;
}

.hot__item-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 12px 16px;
}

.hot__item-price-container {
  display: flex;
  justify-content: space-between;
}

.hot__item-icon-container {
  display: flex;
  justify-content: space-between;
  width: 64px;
  margin-top: -4px;
}

.hot__item-price {
  font-size: 16px;
  color: #a18474;
  line-height: 19px;
}

.hot__item-icon-subcontainer {
  width: 24px;
  height: 24px;
  position: relative;
}

.hot__item-icon-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hot__item-name {
  margin-top: 14px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

.hot__item-address {
  opacity: 50%;
  margin-top: 12px;
  line-height: 16px;
  font-style: normal;
  font-size: 14px;
  color: #a18474;
}

.hot__item-info-room {
  display: flex;
  align-items: baseline;
  color: #a18474;
  margin-top: 12px;
}

.room__info-item {
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.room__info-item p,
.room__info-item span {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.room__info-item .dot__icon {
  margin: 0 4px;
  width: 3px;
  height: 3px;
  background-color: #a18474;
  border-radius: 50%;
}

.room__info-item-expand-container .dot__icon {
  transform: translateY(1.2px);
}

.room__info-item-expand {
  position: relative;
  width: 15px;
  height: 14px;
}

.room__info-item-expand-icon {
  position: absolute;
  top: calc(50% + 0px);
  left: calc(50%);
  transform: translate(-50%, -50%);
}

.room__info-item-icon-bath {
  position: relative;
  top: -1.7px;
}

.type__item {
  width: 235px;
  height: 235px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 12px;
  font-weight: 500;
}

.type__item-info {
  margin: 12px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.type__item-more {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 17px; */
  font-size: 14px;
}

.type__item-link {
  color: #a18474;
  margin-right: 10px;
}

.type__item-icon {
  color: #a18474;
}
