.topnav{
  width: 95%;
  height: 68px;
  margin-top: 32px;
  float: right;
  margin-right: 32px;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
}

.margin8{
  margin: 8px;
}

ul.breadcrumb {
  height: 68px;
  width: 300px;
  list-style: none;
  display: flex;
  align-items: center;
  background-color: transparent;
}

ul.breadcrumb li {
  font-size: 14px;
  display: flex;
  align-items: center;
  width: 150px;
  font-weight: 400;
  line-height: 16px;
}

.topnav__right {
  display: flex;
  align-items: center;
}

.notification-item {
  display: flex;
  align-items: center;
  padding: 20px;
}

.user-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.user-menu__item {
  width: 180px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.user-menu__item:hover,
.notification-item:hover {
  padding-left: 30px;
  color: #A18474;
  background-color: #ffffff;
  transition: all 300ms ease;
}

.user-menu:before {   
  content: "\2022"; 
  color: #A18474; 
  height: 40px;
  font-size: 20px;
  margin-right: 16px;
  margin-left: 16px;
}

.notification-item > i {
  font-size: 1.5rem;
  padding-right: 16px;
}

.topnav__right-user {
  height: 68px;
  width: 140px;
  margin-right: 16px;
  margin-left: 32px;
  display: flex;
  align-items: center;
}

.topnav__right-user__image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
  overflow: hidden;
}

.topnav__right-user__image > img {
  width: 100%;
}

.topnav__right-user__name {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  left: 0;
  line-height: 16px;
}

.logout{
  display: inline-flex;
  padding-top: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.ic-logout{
  height: 15px;
  width: 18px;
  border-radius: 0px;
  margin-left: 8px;
}











  

