/* Tiện ích */
.advantages {
    margin: 0 auto;
    width: var(--container);
}

.advantages h2 {
    font-size: 24px;
    color: #2c2c2c;
    font-weight: 500;
}
.main__utility .row {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.main__utility .col {
    display: flex;
    align-items: center;
    border: 2px solid rgba(161, 132, 116, 1);
    padding: 15px;
    margin-right: 20px;
    border-radius: 5px;
    width: 25%;
    cursor: pointer;
    transition: all;
}
.main__utility .col:hover {
    background: rgba(161, 132, 116, 0.2);
}
.main__utility .col span {
    margin-left: 16px;
    font-size: 16px;
    font-weight: 500;
}
.main__utility .col img {
    width: 40px;
    height: 40px;
}
.main__partner {
    width: 100%;
    position: relative;
}
.main__partner h2 {
    margin-bottom: 20px;
}
.main__partner .carousel {
    width: 99%;
    position: absolute;
    overflow: hidden;
    top: 150%;
}
.main__project {
    width: 100%;
    margin-top: 156px;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}
.main__project h3 {
    color: rgba(161, 132, 116, 1);
    font-weight: 500;
}
.main__project .col ul li a {
    margin-left: 5px;
}
.main__project li {
    cursor: pointer;
}
.main__project li:hover {
    transform: translateX(20px);
    color: rgba(161, 132, 116, 1);
}
.item__carousel {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 159px;
    color: #fff;
    border: 2px solid rgba(161, 132, 116, 1);
    cursor: pointer;
}
.item__carousel img.logoPartner {
    position: absolute;
    top: 0;
    left: 3%;
    height: 100%;
}
.item__carousel img.logoPartner.blackwhite:hover {
    opacity: 0;
}
.sc-dkPtRN.fPDpuU.rec.rec-slider-container {
    margin: unset !important;
}
.sc-gsDKAQ.izuVIe.rec.rec-item-wrapper {
    justify-content: space-between;
    width:177px !important; 
}

.wrap__introduction {
    background-color: #f0efed;
}
.introduction {
    width: var(--container);
    height: 500px;
    margin: 0 auto;
    position: relative;
}

/* INTRODUCTION */
.introduction .image__intro {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.introduction .image__intro img {
    height: 100%;
}
.introduction .table__intro h1 {
    font-size: 48px;
    font-weight: bold;
}
.introduction .table__intro {
    position: absolute;
    z-index: 10;
}
.introduction .table__intro .circle__home {
    display: inline-block;
    border: 3px solid rgba(161, 132, 116, 1);
    border-radius: 50%;
    padding: 5px;
    font-size: 48px;
    font-weight: 500;
}
.table__intro .intro__title {
    position: relative;
}
.table__intro .intro__title .sub__title {
    position: absolute;
    top: 64px;
    word-spacing: 3px;
}
.intro__text {
    width: 45%;
    margin-top: 56px;
}
.intro__form{
    width:80%;
    margin-top:24px;
}
.intro__form .categories__search button{
    padding: 12px 16px;
    border-radius: 10px 10px 0 0;
    border: none;
    background: rgba(255, 255, 255, 1);
    margin-right: 16px;
    color: rgba(161, 132, 116, 1);
}
.intro__form .categories__search button:nth-child(1){
    background: rgba(161, 132, 116, 1);
    color:rgba(255, 255, 255, 1);
}
.intro__form .text__search{
    background:rgba(161, 132, 116, 1);
    border-radius: 0 10px 10px 10px;
    max-height: auto;
    padding: 16px;
}
.intro__form .text__search input[type="text"]{
    width: 100%;
    padding: 16px 0 16px 16px;
    border-radius: 5px;

}
::placeholder{
    font-size: 14px;
    font-weight: 500;
    opacity: 0.7;
    color: rgba(0, 0, 0, 1);
}
.intro__form .text__search .intro__form__search{
    position: relative;
    font-size: 14px;
}
.intro__form .text__search .intro__form__search button{
    padding: 8px 16px;
    width:116px;
    height: 32px;
    background:rgba(161, 132, 116, 1);
    color:rgba(255, 255, 255, 1);
    text-align:center;
    position:absolute;
    top: 8px;
    right: 16px;
    border-radius:5px;
}
.intro__form .text__search i{
    margin-right: 8px;
}

.intro__form .intro__form__option_search{
    margin-top:16px;
    position: relative;
}
.intro__form__option_search__expand .btn-expand{
    color: #fff;
    font-size: 14px;
}
.intro__form__option_search__expnd .btn-expand i{
    margin-left: 8px;
    margin-top: 5px;
}
.intro__form__option_search__expand select{
    width: 21%;
    height: 25%;
    border: 2px solid #fff;
    background:rgba(161, 132, 116, 1);
    color:rgba(255, 255, 255, 1);
    border-radius:5px;
    margin-right: 8px;
    justify-content:space-around;
    font-size:14px;
    padding: 9px 16px;
    font-weight: 500;
}
.intro__form__option_search__expand select option {
    
}
.intro__form__option_search__expand select:nth-child(4){
    margin-right: 16px;
}

/* COLLAPSE */
.intro__form__option_search__collapse{
    margin-top: 16px;
}
.intro__form__option_search__collapse .btn-collapse{
    color: #fff;
    font-size: 14px;
}
.intro__form__option_search__collapse .btn-collapse i{
    margin-left: 8px;
    margin-top: 5px;
}
.intro__form__option_search__collapse select{
    width: 21%;
    height: 25%;
    border: 2px solid #fff;
    background:rgba(161, 132, 116, 1);
    color:rgba(255, 255, 255, 1);
    border-radius:5px;
    margin-right: 8px;
    justify-content:space-around;
    font-size:14px;
    padding: 9px 16px;
    font-weight: 500;
}
.intro__form__option_search__collapse select:nth-child(4){
    margin-right: 16px;
}