* {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
}
.container {
  background-color: #ffff;
  border-radius: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
  margin-left: 5%;
  margin-right: 5%;
}
.sign-up-title {
  font-size: 24px;
}
.account-detail {
  font-size: 20px;
  font-weight: 500;
}
.information-container {
  margin-top: 42px;
  margin-left: 5%;
  margin-right: 5%;
}
.input-field {
  border: 1px solid #a18474;
  height: 56px;
  border-radius: 10px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input-sign-up {
  background-color: transparent;
  vertical-align: middle;
  margin-left: 16px;
  margin-right: 5px;
  width: 90%;
  color: #a18474;
}
.m-right-20 {
  margin-right: 20px;
}

.m-top-16 {
  margin-top: 16px;
}
.row-state {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.width-48 {
  width: 48%;
}
.m-left-16 {
  margin-left: 16px;
}
.m-right-16 {
  margin-right: 16px;
}
.width-90 {
  width: 90%;
}
.width-85 {
  width: 85%;
}
.custom-select {
  color: #a18474;
  font-size: 16px;
  font-weight: 400;
  text-indent: 10px;
  -webkit-appearance: none;
  background-image: url(../../assests/sign_up/arrow.png);
  background-repeat: no-repeat;
  background-position: center right 25px;
}

.gender-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.type-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sign-up-radio {
  column-rule: #a18474;
}

label > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}
.sign-up-btn {
  height: 56px;
  background-color: #a18474;
  color: white;
  border-radius: 10px;
}
.custom-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.m-top-24 {
  margin-top: 24px;
}
.m-top-28 {
  margin-top: 28px;
}
.des-color {
  color: #a18474;
}
.padding-bot-26 {
  padding-bottom: 26px;
}
.input-sign-up:valid + .placeholder {
  display: none;
}
.placeholder {
  margin-left: -360px;
  margin-right: auto;
  color: #ccc;
  pointer-events: none;
}
.require {
  color: red;
}
input[type="radio"] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
