.footer {
  background: #f0efed;
  font-family: Roboto;
}
.footer-container {
  border-bottom: 1px solid #000;
}
.footer-center {
  max-width: 70%;
  margin: auto;
  padding-top: 48px;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.footer-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 16px;
}
.footer-title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  margin-bottom: 16px;
}
.footer-icon {
  margin-right: 8px;
}
.footer--col--last {
  display: flex;
  flex-direction: column;
}
.footer-form {
  width: 321px;
  position: relative;
}
.footer-form > input {
  padding: 15px 0 15px 16px;
  border-radius: 5px;
  width: 100%;
  outline: none;
}
.footer-form > button {
  position: absolute;
  border-radius: 5px;
  padding: 5px 5px 5px 1px;
  margin-right: 5px;
  background-color: #a18474;
  cursor: pointer;
  top: 5px;
  right: 0;
}
::placeholder {
  font-size: 16px;
  font-weight: 500;
}
.connect {
  display: flex;
}
.connect-item {
  margin-right: 16px;
}
.footer-col-last > div {
  margin-bottom: 24px;
}
.copyright {
  font-size: 16px;
  text-align: center;
  padding: 24px 0;
  font-weight: 500;
  line-height: 19px;
}
.footer-column-first > p {
  margin-bottom: 24px;
}
.footer-column-first > li {
  margin-bottom: 26px;
}
.footer-logo-container {
  display: inline-block;
}
