.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-weight: 600;
    background: #fff;
    height: 64px;
    position: inherit;
}

.header-col-right {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0 64px;
}

.header-col {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0 64px;
}

.logo-container {
    margin-right: 15px;
}

.logo {
    height: 50px;
    width: 100px;
    object-fit: contain;
}

.header-col>li {
    margin-left: 24px;
    /* font-size: 16px; */
    cursor: pointer;
    position: relative;
}

.navbar-hover-list {
    position: absolute;
    left: 0;
    top: 100%;
    border-radius: 5px;
    width: 257px;
    box-shadow: 0px 8px 20px rgb(182 182 182 / 30%);
    background: #fff;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition-delay: 0.4s;
    transition-delay: 0.3s;
    z-index: 999;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.header-col>li:hover .navbar-hover-list {
    height: auto;
    opacity: 1;
}

.navbar-link {
    font-weight: 500;
    font-size: 14px;
    height: 64px;
    display: flex;
    align-items: center;
}

.navbar-hover-list>li {
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.navbar-hover-list>li:hover {
    transform: translateX(+16px);
    color: #a18474;
}

.post-btn {
    border: 2px solid #a18474;
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 17px;
    padding-left: 17px;
    margin-top: 12px;
    margin-bottom: 16px;
    margin-right: 24px;
    cursor: pointer;
    color: #a18474;
    font-weight: 500;
    font-size: 14px;
}

.navbar-hover-list .drop-list-item {
    height: 56px;
    display: flex;
    align-items: center;
}

.navbar-hover-list .drop-list-item .drop-link {
    width: 100%;
    height: 100%;
    line-height: 50px;
    padding-left: 16px;
    padding-right: 16px;
}

.login {
    margin-right: 24px;
    margin-left: 21.21px;
    margin-top: 24px;
    margin-bottom: 28px;
    font-weight: 500;
    font-size: 14px;
}

.register-btn {
    border: 2px solid #a18474;
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 17px;
    padding-left: 17px;
    margin-top: 12px;
    margin-bottom: 16px;
    margin-right: 24px;
    cursor: pointer;
    color: #a18474;
    font-weight: 500;
    font-size: 14px;
}

.post-btn:hover {
    background-color: rgba(161, 132, 116, 0.2);
}

.header-navbar {
    position: relative;
}

.header-navbar:hover .line {
    width: 100%;
}

.line {
    height: 2px;
    width: 0%;
    position: absolute;
    background-color: #a18474;
    top: 40px;
    transition: all 0.4s ease-in-out;
    margin-top: 4px;
}

@media only screen and (max-width: 1024px) {
    .header-col {
        margin: 0;
    }
}

.active {
    color: #A18474;
}

.topnav {
    width: 95%;
    height: 68px;
    float: right;
    margin-right: 32px;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
}

.margin8 {
    margin: 8px;
}

.topnav__right {
    display: flex;
    align-items: center;
}

.topnav__right-item {
    display: flex;
    align-items: right;
    margin-right: 24px;
    background-size: 40px 40px;
}

.topnav__right-item-like {
    display: flex;
    align-items: right;
    margin-right: 40.21px;
    background-size: 40px 40px;
}

.topnav__right-item-like:hover {
    background-size: 40px 40px;
    background-color: #A1847433;
}

.topnav__right-item-notification {
    display: flex;
    align-items: right;
    margin-right: 33px;
    background-size: 40px 40px;
}

.topnav__right-item-notification:hover {
    background-size: 40px 40px;
    background-color: #A1847433;
}

.like-item {
    display: flex;
    align-items: center;
    padding: 20px;
}

.notification-item {
    display: flex;
    align-items: center;
    padding: 20px;
}

.user-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user-menu__item {
    width: 180px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}

.user-menu__item:hover,
.notification-item:hover {
    padding-left: 30px;
    color: #A18474;
    background-color: #ffffff;
    transition: all 300ms ease;
}

.user-menu:before {
    content: "\2022";
    color: #A18474;
    height: 40px;
    font-size: 20px;
    margin-right: 16px;
    margin-left: 16px;
}

.notification-item>i {
    font-size: 1.5rem;
    padding-right: 16px;
}

.topnav__right-user {
    width: 140px;
    display: flex;
    align-items: center;
}

.topnav__right-user__image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
    overflow: hidden;
}

.topnav__right-user__image>img {
    width: 100%;
}

.topnav__right-user__name {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    left: 0;
    margin-top: 2px;
}

.logout {
    display: inline-flex;
    padding-top: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}

.ic-logout {
    height: 15px;
    width: 18px;
    border-radius: 0px;
    margin-left: 8px;
}