.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Roboto;
  box-sizing: border-box;
  font-weight: 600;
}
.header-col {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0 64px;
}
.logo-container {
  margin-right: 15px;
}
.logo {
  height: 50px;
  width: 100px;
  object-fit: contain;
}
.header-col > li {
  margin-left: 24px;
  font-size: 15px;
  cursor: pointer;
  position: relative;
}
.navbar-hover-list {
  position: absolute;
  left: 0;
  top: 100%;
  border-radius: 5px;
  width: 240px;
  box-shadow: 0px 8px 20px rgb(182 182 182 / 30%);
  background: #fff;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-delay: 0.4s;
  z-index: 999;
}
.header-col > li:hover .navbar-hover-list {
  height: auto;
  opacity: 1;
}
.navbar-link {
  height: 64px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.navbar-hover-list > li {
  padding: 10px;
}
.navbar-hover-list > li:hover {
  background: #ccc;
}

.login {
  margin-right: 5px;
}
.register-btn {
  border: 2px solid #a18474;
  border-radius: 10px;
  padding: 12px 16px;
  margin-left: 5px;
  cursor: pointer;
  color: #a18474;
}
.register-btn:hover {
  background-color: #ccc;
}
.header-navbar {
  position: relative;
}
.header-navbar:hover .line {
  width: 100%;
}
.line {
  height: 2px;
  width: 0%;
  position: absolute;
  background-color: #a18474;
  top: 40px;
  transition: all 0.4s ease-in-out;
}
