@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}
.flex_center{
    display: flex;
    justify-content: center;
}
.flex_left{
    display: flex;
    justify-content: start;
    align-items: center;
}
.menu--container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 231px;
    padding: 24px 0;
    float: left;
    /* background-color: #ddcac0; */
}
.logo{
    width: 100%;
    height: max-content;
    padding-bottom: 15px;
}
.menu--content{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
}
.menu--btn{
    height: 37px;
    width: 199px;
    font-size: 16px;
    border-radius: 5px;
    align-self: center;
    color: rgb(0, 0, 0);
    background-color: #fff;
}
.menu--btn .content{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: transparent;
}
.menu--btn .icon{
    width: 36px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu--btn:focus{
    outline: none;
}

.section{
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}
.section .title{
    padding-left: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}
.section ul{
    padding-top: 15px;
    align-self: center;
    background-color: transparent;
}
li{
    align-self: center;
    display: flex;
    height: 42px;
    width: 199px;
    background-color: transparent;
}
.btn-container{
    height: 37px;
    width: 199px;
}
.chosen{
    position:absolute;
    color: #fff;
    background-color: #A18474;
}